* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 95px;
  position: relative;
  margin-bottom: 30px;
}

nav {
  width: 960px;
  margin: auto;
}

nav > ul li{
  text-decoration: none;
  position: absolute; 
  top: 50%;

  display: inline;
}

nav a {
  text-decoration: none;
}

nav > img { 
  float: left;
}

main {
  width: 960px;
  margin: auto;
}

main button {
  position: absolute;
}

section {
  position: relative;
  height: 250px;
}

footer {
  height: 150px;
  color: gray;
}


